Arch Linux Hyprland

APP REQUIREMENTS

waybar      : bar information
rofi        : menu
dunst       : notification system
kitty       : terminal
lf          : file manager
nvim        : advance text editor
micro       : simple text editor
firefox     : browser
brave       : browser
onlyoffice  : office
fprintd     : driver for fingerprint
tlp         : optimizing battery
bluetuith   : bluetooth manager
